page-list {
    ion-content {
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .item {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .scroll-content {
        margin-top: 56px !important;
    }

    .titleicon {
        position: absolute;
        width: 100%;
        left: 10px;
        bottom: -12px;
        text-align:end;
    }
}
