<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Checkliste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Header</ion-list-header>
    <ion-item-group reorder="true">
    <button ion-item *ngFor="let item of currentItems" (click)="itemTapped(item)">
      <ion-label >{{item.entryName}}</ion-label>
      <div class="item-note" item-end>{{item.dateDue | date: 'd/M/yy, HH:mm' }}, Aktiv</div> 
      <!--<div class="item-note" item-content>
        {{item.entryText}}
      </div>-->
    </button>
  </ion-item-group>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.entryName}}</b>
  </div>
</ion-content>
<ion-footer>
  <button ion-button block (click)="goToNewForm()">Neuen Eintrag erstellen</button>
</ion-footer>
