page-list {
    ion-content *{
        background-image: url("../../assets/imgs/checklist.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .item.item-input {
        background-color: black ;
        opacity: 0.6;
    
    }
}
