page-settings {
    ion-content{
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }
}