page-event-modal {
    ion-content{
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .item-input, .date{
        background-color: rgba(0, 0, 0, 0.6) ;
    }
    .item-md {
        padding-right: 15px;
    }
}
