h3.inputValue{
    font-weight: 100;
}

ion-row.dividerRow{
    border-bottom: 6px solid map-get($colors, primary)
}
div.viewDiv {
    padding: 5px;
    background-color: #242424;
}

ion-content{
    background-image: url("../../assets/imgs/red1.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}