button.menuButton{
    height: 150px !important;
    font-size: 20px;
}

h3{
    font-style: bold;
    font-size: 20px;
    color: white;
}

.titleicon {
    position: absolute;
    width: 100%;
    left: 10px;
    bottom: -12px;
    text-align:end;
}

ion-card{
    border-top: 4px solid map-get($colors, primary);
}

.card-header-md, .card-header-ios{
    color: white;
}

ion-content{
    background-image: url("../../assets/imgs/red1.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-md, .card-ios{
    background-color: rgba(0, 0, 0, 0.6);

}
.item-md, .item-ios {
    background-color: transparent;
}