button.menuButton{
    height: 200px !important;
}

h3{
    font-style: bold;
    font-size: 20px;
    color: white;
}

ion-card{
    border-top: 5px solid #ff0020;
}

ion-card-header.card-header-md{
    color: white;
}