page-edit-item {
    ion-content{
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .titleicon {
        position: absolute;
        width: 100%;
        left: 10px;
        bottom: -12px;
        text-align:end;
    }
    .item {
        padding-right: 15px;
    }
    .item.item-input, .item.item-datetime{
        background-color: rgba(0, 0, 0, 0.6);
    }
}