page-register {

    body {
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content{
        margin-top: 50%;
        background-color: transparent;
    }

    .item.item-input {
        background-color: black ;
        opacity: 0.6;
    
    }

}
