page-register {
    img{
        margin-top: 10%;
    }
    ion-title{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    body {
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .item.item-input {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .item {
        padding-right: 15px;
    }
    .scroll-content {
        margin-top: 0px !important;
    }
    .header-md::after {
        background-image: none;
    }
    .toolbar-background-md {
        background-color: transparent;
    }
}
