page-calendar {
    ion-content{
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .monthview-selected {
		background-color:map-get($colors, primary) !important;
    }
    .monthview-current {
      background-color: transparent;
      color:black !important;
      font-weight:bold !important;
      }
}
