page-calendar {
    ion-content{
        background-image: url("../../assets/imgs/red1.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
